{{#slides}}

					<div class='gv-slide swiper-slide'>
						
						<div class="gv-slide-image-holder">	

							<div class='gv-slide-content' 
							data-5000="opacity:0" 
							data-8900="opacity:1; width: 100%; height: 100%; top: 0%; left: 0%;" 
							data-9300="opacity:1; width: 3%; height: 3%; top: 47%; left: 47%;" 
							data-9600="opacity:0;">
								<div class='slide-mask' id='slide-mask-1'></div>
							</div>

							<div class='gv-slide-content' 
							data-5000="opacity:0;" 
							data-5100="opacity:1;" 
							data-5400="opacity:1" 
							data-6000="opacity:0;">
								<div class='slide-image' id='slide-1i' style ='background-image:url("<%= path %>/assets/polar-bear.gif")'></div>
							</div>

							<div class='gv-slide-content' 
							data-5900="opacity:0;" 
							data-6300="opacity:1;" 
							data-6600="opacity:1" 
							data-7000="opacity:0;">
								<div class='slide-image' id='slide-1ii' style ='background-image:url("<%= path %>/assets/floods.png")'></div>
							</div>
							
							

						</div>	


						<div class='gv-info-panel'  data-9400="margin-top:0px;" data-10000="margin-top:100px;">

							<span class='gv-info-title' 
							data-5000="opacity:0;  margin-bottom:100px;" 
							data-5200="opacity:1;  margin-bottom:12px;"  
							data-9400="opacity:1;" 
							data-10000="opacity:0;">

								<svg viewBox="0 0 480 480"  preserveAspectRatio='xMinYMin'>

									<path fill="#FFFFFF" d="M2,414.475l103.813-100.254c63.474-61.102,120.423-121.017,120.423-193.983
										c0-67.033-30.847-109.152-105-109.152C81.491,11.085,52.423,21.17,22.169,36v-6.526C51.83,14.051,82.678,4.56,121.237,4.56
										c77.118,0,112.711,43.898,112.711,115.678c0,76.526-61.101,138.813-124.576,199.322l-98.475,94.322v0.593h225.424l3.559-60.508
										h5.933L242.847,421H2V414.475z"/>

									<path fill="#FFFFFF" d="M285.553,71.594C285.553,34.221,315.214,1,356.146,1c40.338,0,70.593,33.221,70.593,70.594
										c0,39.152-30.255,71.187-70.593,71.187C315.214,142.78,285.553,110.746,285.553,71.594z M419.028,71.594
										c0-33.813-26.102-64.068-62.881-64.068c-37.373,0-62.881,30.254-62.881,64.068c0,35.593,25.508,64.661,62.881,64.661
										C392.926,136.254,419.028,107.187,419.028,71.594z"/>
								</svg>

							</span>

							<span class='gv-info-text'  
							data-5200="opacity:0; margin-left:100px;" 
							data-5400="opacity:1; margin-left:0" 
							data-9400="opacity:1;" 
							data-10000="opacity:0;">{{sentences}}</span>

							<span class='gv-info-text' 
							data-5800="opacity:0; margin-left:100px;" 
							data-6200="opacity:1; margin-left:0" 
							data-9400="opacity:1;" 
							data-10000="opacity:0;">Arctic sea ice extent in September falls by 43% in extent against the long-term average.</span>


							

						</div>	

					</div>


{{/slides}}




					