<div class='android-app-spacer' id='skrollr-body'></div>

<div class='gv-wrapper swiper-container'>
	

				<div class='gv-slides-container swiper-wrapper'>
						<div class='gv-slide swiper-slide'>
							<div class='gv-info-panel'>
								<span class='gv-info-title gv-opening-title' data-300="opacity:1; margin-left:0px;" data-800="opacity:1;" data-900="opacity:0;">1.5°</span>

								<span class='gv-info-text' data-100="opacity:0;" data-300="opacity:1;" data-800="opacity:1;" data-900="opacity:0;">At particular risk are species dependent on Arctic sea ice – such as polar bears – and coral reefs.</span>

								<span class='gv-info-text' data-100="opacity:0;" data-500="opacity:1;" data-800="opacity:1;"  data-900="opacity:0;">Sea levels rise by up to 55cm. They have already risen by around 20cm over the 20th century.</span>

						</div>


						</div>	

					<div class='gv-slide swiper-slide'>
						
						<div class="gv-slide-image-holder">	

							<div class='gv-slide-content' data-1100="opacity:0;" data-1800="opacity:1;" data-2900="opacity:0;">
								<div class='slide-image' id='slide-1'></div>
							</div>
							
							<div class='gv-slide-content' data-1000="opacity:0" data-1100="opacity:1; width: 100%; height: 100%; top: 0%; left: 0%;" data-1300="opacity:1; width: 0%; height: 0%; top: 50%; left: 50%;">
								<div class='slide-mask' id='slide-mask-1'></div>
							</div>

						</div>	


						<div class='gv-info-panel'>
								<span class='gv-info-title' data-1100="opacity:0; margin-left:100px;" data-1200="opacity:1; margin-left:0px;" data-1800="opacity:1;" data-2700="opacity:0;">2°</span>

								<span class='gv-info-text' data-1100="opacity:0;" data-1400="opacity:1;" data-1800="opacity:1;" data-2600="opacity:0;">At particular risk are species dependent on Arctic sea ice – such as polar bears – and coral reefs.</span>

								<span class='gv-info-text' data-1100="opacity:0;" data-1600="opacity:1;" data-1800="opacity:1;"  data-2500="opacity:0;">Sea levels rise by up to 55cm. They have already risen by around 20cm over the 20th century.</span>

						</div>	

					</div>




					<div class='gv-slide swiper-slide' >

						<div class="gv-slide-image-holder">	
							<div class='gv-slide-content' data-3000="opacity:0; width: 100%; height: 100%; top: 0%; left: 0%;" data-4000="opacity:1; width: 100%; height: 100%; top: 0%; left: 0%;">
								<div class='slide-image' id='slide-2'></div>
							</div>
							<div class='gv-slide-content'  data-2900="opacity:0;" data-3000="opacity:1; width: 100%; height: 100%; top: 0%; left: 0%;" data-3300="opacity:1; width: 0%; height: 0%; top: 50%; left: 50%;">
							<div class='slide-mask' id='slide-mask-2'></div>
						</div>
						</div>	
						
						<div class='gv-info-panel'>
							<span class='gv-info-title' data-3000="opacity:0;  margin-left:100px;" data-3200="opacity:1;  margin-left:0px;" data-3400="opacity:1;" data-4000="opacity:0;">2°</span>

							<span class='gv-info-text'  data-3200="opacity:0; margin-left:100px;" data-3400="opacity:1; margin-left:0" data-4000="opacity:0;">Most small mammals without high ground to escape to will not be able to keep up with the rate of climate change.</span>

							<span class='gv-info-text' data-3300="opacity:0; margin-left:100px;" data-3600="opacity:1; margin-left:0" data-4000="opacity:0;">Wildlife and ecosystems hit by &dlquo;severe&drquo; and &dlquo;widespread&drquo; impacts, with substantial numbers of species going extinct.</span>

						</div>	
						
						
					</div>


							



						<div class='gv-slide swiper-slide'>

							<div class="gv-slide-image-holder">	
								<div class='gv-slide-content' data-4000="opacity:0; width: 100%; height: 100%; top: 0%; left: 0%;" data-5000="opacity:1; width: 100%; height: 100%; top: 0%; left: 0%;">
									<div class='slide-image' id='slide-3'></div>
								</div>
							</div>
						</div>


						<!-- <div class='gv-slide swiper-slide'>
							<div class="gv-slide-image-holder">	
								<div class='gv-slide-content' data-4000="opacity:0; width: 100%; height: 100%; top: 0%; left: 0%;" data-5000="opacity:1; width: 100%; height: 100%; top: 0%; left: 0%;">
									<div class='slide-image' id='slide-4'></div>
								</div>
							</div>	
						</div>


						<div class='gv-slide swiper-slide'>
							<div class="gv-slide-image-holder">	
								<div class='gv-slide-content' data-5000="opacity:0; width: 100%; height: 100%; top: 0%; left: 0%;" data-6000="opacity:1; width: 100%; height: 100%; top: 0%; left: 0%;">
									<div class='slide-image' id='slide-5'></div>
								</div>
							</div>	
						</div>


						<div class='gv-slide swiper-slide'>
							<div class="gv-slide-image-holder">	
								<div class='gv-slide-content' data-7000="opacity:0; width: 100%; height: 100%; top: 0%; left: 0%;" data-8000="opacity:1; width: 100%; height: 100%; top: 0%; left: 0%;">
									<div class='slide-image' id='slide-6'></div>
								</div>
							</div>	
						</div> -->
						

				</div>

		<!-- <nav id="pips-nav" class="pips-nav skrollable unrendered " data-25581="opacity:1" data-25800="opacity:0;" style="opacity: 1;">
                <ul style="top: 182px;">
                    <li class="c1">
                        <a href="#slide-1">Dr No</a>
                    </li>
                    <li class="c2">
                        <a href="#slide-2">From Russia with Love</a>
                    </li>
                    <li class="c3">
                        <a href="#slide-3">Goldfinger</a>
                    </li>
                    <li class="c4 current">
                        <a href="#c4">Thunderball</a>
                    </li>
                    <li class="c5">
                        <a href="#c5">You Only Live Twice</a>
                    </li>
                   
                </ul>
            </nav> -->


</div>



		

