<div class='android-app-spacer' id='skrollr-body'></div>
	
<div class='gv-wrapper swiper-container'>

		<div class='gv-slides-container swiper-wrapper'>
					
					

											

		</div>

</div>


				<div class='gv-info-panel-holder'>




				</div>


				<div class='gv-big-type-panel'>
					


				</div>	




				




<footer class='app-footer'>

	<!-- <div class="gv-slide-image-holder">	
		<div class='gv-slide-content' 
				data-1000="opacity:0; width: 0%; height: 0%; top: 50%; left: 50%;" 
				data-1500= "opacity:1; width: 100%; height: 100%; top: 0%; left: 0%;"
				data-2000= "opacity:1; width: 100%; height: 100%; top: 0%; left: 0%;" 
				data-3000="opacity:0; width: 0%; height: 0%; top: 50%; left: 50%;" 
				>

					<div class='slide-image' id='slide-img-{{key}}' style ='background-image:url("<%= path %>/assets/opt/intro.png")'
						data-1000="margin-top:100px" 
						data-1500= "margin-top:0px"
						data-2000= "margin-top:0px" 
						data-3000="margin-top:-100px"></div>
			</div>


					

	</div> -->	


	<div class='gv-thermometer'>
						<svg width="60px" height="220px" viewBox="0 0 60 220" preserveAspectRatio='xMinYMin' stroke-width='3'>

							<path fill="none" stroke="#FFF" stroke-miterlimit="10" d="M42.75,165.89V48.16c0-7.268-5.892-13.16-13.16-13.16
								c-7.268,0-13.16,5.892-13.16,13.16V165.89c-7.866,4.55-13.161,13.049-13.161,22.79c0,14.536,11.784,26.32,26.321,26.32
								c14.537,0,26.321-11.784,26.321-26.32C55.911,178.938,50.616,170.439,42.75,165.89z"/>
							<path id="temperatureLine" fill="none" stroke="#FFF" stroke-linecap="round" stroke-miterlimit="10" d="
		M29.59,146.82V47.084"/>
							<path id="thermomBaseLine" fill="none" stroke="#FFF" stroke-miterlimit="10" d="M29.59,176.821v-29.999"/>
							<circle fill="none" stroke="#FFF" stroke-miterlimit="10" cx="29.59" cy="189.804" r="13.01"/>

						</svg>

	</div>
			<!-- <div class="gv-scroll-arrow-down">
						<svg width="140px" height="160px" viewBox="0 0 140 160">
							<polygon id="arrow" fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" points="1,86.683 55.343,141 
			109.678,86.683 85.339,86.683 85.339,1 25.339,1 25.339,86.683 "/>
					
						</svg>
			</div> -->

</footer>

<!-- 
<div class='gv-preload'>

</div> -->


<!-- <div class='gv-preload' style="height:100%; width:100%; position: fixed; left: 0; top:0; background-color:#EFEFEF;">
	


</div>	 -->



		

