<div class='android-app-spacer' id='skrollr-body'></div>

<div class='gv-wrapper swiper-container'>
	




			<div class='gv-slides-container swiper-wrapper'>
						
						

						<div class='gv-slide swiper-slide'>

							<div class="gv-slide-image-holder">	
								<div class='gv-slide-content' data-3300="opacity:0" data-3600="opacity:1; width: 3%; height: 3%; top: 47%; left: 47%;" data-4600="opacity:1; width: 100%; height: 100%; top: 0%; left: 0%;"  data-6000="opacity:0;">
									<div class='slide-mask' id='slide-mask-intro'></div>
								</div>
							</div>	


							<div class='gv-info-panel gv-intro-panel'  data-0="margin-left:calc(0% + 40px); margin-top:0%;" data-2300="margin-top:18.9%; margin-left:calc(0% + 40px);"  data-3300="margin-left:calc(43.5% + 1px);"  >
								<span class='gv-info-title gv-opening-title' data-300="opacity:1; margin-left:0px;" data-4500="opacity:1;" data-4900="opacity:0;">1.5C</span>

								<span class='gv-info-text' data-100="opacity:0;" data-300="opacity:1;" data-4500="opacity:1;" data-4900="opacity:0;">Sustain the growth rate of renewables and other zero and low carbon power until 2025 to reach 100% by 2050</span>

								<span class='gv-info-text' data-100="opacity:0;" data-500="opacity:1;" data-4500="opacity:1;"  data-4900="opacity:0;">All new buildings fossil-free and near zero energy by 2020</span>

							</div>

					</div>	






					<div class='gv-slide swiper-slide'>
						
						<div class="gv-slide-image-holder">	

							<div class='gv-slide-content' 
							data-5000="opacity:0" 
							data-8900="opacity:1; width: 100%; height: 100%; top: 0%; left: 0%;" 
							data-9300="opacity:1; width: 3%; height: 3%; top: 47%; left: 47%;" 
							data-9600="opacity:0;">
								<div class='slide-mask' id='slide-mask-1'></div>
							</div>

							<div class='gv-slide-content' 
							data-5000="opacity:0;" 
							data-5100="opacity:1;" 
							data-5400="opacity:1" 
							data-6000="opacity:0;">
								<div class='slide-image' id='slide-1i' style ='background-image:url("<%= path %>/assets/polar-bear.gif")'></div>
							</div>

							<div class='gv-slide-content' 
							data-5900="opacity:0;" 
							data-6300="opacity:1;" 
							data-6600="opacity:1" 
							data-7000="opacity:0;">
								<div class='slide-image' id='slide-1ii' style ='background-image:url("<%= path %>/assets/floods.png")'></div>
							</div>
							
							

						</div>	


						<div class='gv-info-panel'  data-9400="margin-top:0px;" data-10000="margin-top:100px;">

							<span class='gv-info-title' 
							data-5000="opacity:0;  margin-bottom:100px;" 
							data-5200="opacity:1;  margin-bottom:12px;"  
							data-9400="opacity:1;" 
							data-10000="opacity:0;">

								<svg viewBox="0 0 480 480"  preserveAspectRatio='xMinYMin'>

								<path fill="#FFFFFF" d="M2,414.475l103.813-100.254c63.474-61.102,120.423-121.017,120.423-193.983
									c0-67.033-30.847-109.152-105-109.152C81.491,11.085,52.423,21.17,22.169,36v-6.526C51.83,14.051,82.678,4.56,121.237,4.56
									c77.118,0,112.711,43.898,112.711,115.678c0,76.526-61.101,138.813-124.576,199.322l-98.475,94.322v0.593h225.424l3.559-60.508
									h5.933L242.847,421H2V414.475z"/>
								<path fill="#FFFFFF" d="M285.553,71.594C285.553,34.221,315.214,1,356.146,1c40.338,0,70.593,33.221,70.593,70.594
									c0,39.152-30.255,71.187-70.593,71.187C315.214,142.78,285.553,110.746,285.553,71.594z M419.028,71.594
									c0-33.813-26.102-64.068-62.881-64.068c-37.373,0-62.881,30.254-62.881,64.068c0,35.593,25.508,64.661,62.881,64.661
									C392.926,136.254,419.028,107.187,419.028,71.594z"/>
							</svg>
							</span>

							<span class='gv-info-text'  
							data-5200="opacity:0; margin-left:100px;" 
							data-5400="opacity:1; margin-left:0" 
							data-9400="opacity:1;" 
							data-10000="opacity:0;">Many species and ecosystems with limited ability to adapt to higher temperatures will be subject to &ldquo;very high risks&rdquo; even with 2C of warming. At particular risk are species dependent on Arctic sea ice – such as polar bears – and coral reefs.</span>

							<span class='gv-info-text' 
							data-5800="opacity:0; margin-left:100px;" 
							data-6200="opacity:1; margin-left:0" 
							data-9400="opacity:1;" 
							data-10000="opacity:0;">Arctic sea ice extent in September falls by 43% in extent against the long-term average.</span>


							

						</div>	

					</div>







					<div class='gv-slide swiper-slide' >

							
						<div class="gv-slide-image-holder">	

							<div class='gv-slide-content' 
							data-9000="opacity:0;"
							data-9300="opacity:1; width: 3%; height: 3%; top: 47%; left: 47%;" 
							data-10000="opacity:1; width: 3%; height: 3%; top: 47%; left: 47%;"  
							data-11000="opacity:1; width: 100%; height: 100%; top: 0%; left: 0%;" 
							data-14000="opacity:1; width: 100%; height: 100%; top: 0%; left: 0%;"  							
							data-14300="opacity:1; width: 3%; height: 3%; top: 47%; left: 47%;">
								<div class='slide-mask' id='slide-mask-2'></div>
							</div>

							<div class='gv-slide-content' 
							data-10900="opacity:0;" 
							data-11100="opacity:1;" 
							data-12000="opacity:1" 
							data-12900="opacity:0;">
								<div class='slide-image' id='slide-2'></div>
							</div>

						</div>	

						
						<div class='gv-info-panel' data-14400="margin-top:0px;" data-15000="margin-top:100px;">
							<span class='gv-info-title' 
							data-10000="opacity:0;  margin-bottom:100px;" 
							data-10200="opacity:1;  margin-bottom:12px;" 
							data-14400="opacity:1;" 
							data-15000="opacity:0;">
								<svg viewBox="0 0 480 480"  preserveAspectRatio='xMinYMin'>
									<path fill="#FFFFFF" d="M10.748,395.397v-6.443c32.218,15.23,65.021,24.603,112.469,24.603
										c82.594,0,117.155-43.348,117.155-108.954c0-68.536-42.761-104.268-124.184-104.268H82.798v-6.443h31.632
										c60.921,0,106.025-33.975,106.025-93.724c0-58.578-35.732-90.209-101.338-90.209c-38.076,0-65.021,9.373-91.967,20.502v-6.443
										C51.752,12.302,81.627,3.515,119.117,3.515c69.707,0,108.954,35.147,108.954,96.067c0,63.849-49.205,92.552-87.28,96.653v0.585
										c52.72,3.515,107.197,30.46,107.197,107.783c0,70.292-39.247,115.397-124.77,115.397C72.254,420,39.451,410.042,10.748,395.397z"/>
									<path fill="#FFFFFF" d="M291.326,69.708C291.326,32.804,320.614,0,361.033,0c39.833,0,69.707,32.804,69.707,69.708
										c0,38.661-29.875,70.293-69.707,70.293C320.614,140,291.326,108.368,291.326,69.708z M423.125,69.708
										c0-33.389-25.774-63.264-62.092-63.264c-36.904,0-62.092,29.875-62.092,63.264c0,35.146,25.188,63.849,62.092,63.849
										C397.351,133.557,423.125,104.854,423.125,69.708z"/>
								</svg>
							</span>

							<span class='gv-info-text'  data-10200="opacity:0; margin-left:100px;" data-10400="opacity:1; margin-left:0" data-14400="opacity:1;" data-15000="opacity:0;">Most small mammals without high ground to escape to will not be able to keep up with the rate of climate change.</span>

							<span class='gv-info-text' data-10800="opacity:0; margin-left:100px;" data-11200="opacity:1; margin-left:0" data-14400="opacity:1;" data-15000="opacity:0;">Wildlife and ecosystems hit by &dlquo;severe&drquo; and &dlquo;widespread&drquo; impacts, with substantial numbers of species going extinct.</span>

						</div>	
						
						
					</div>








					<div class='gv-slide swiper-slide' >

							
						<div class="gv-slide-image-holder">	

							<div class='gv-slide-content' 
							data-14000="opacity:0;"
							data-14300="opacity:1; width: 3%; height: 3%; top: 47%; left: 47%;" 
							data-15000="opacity:1; width: 3%; height: 3%; top: 47%; left: 47%;"  
							data-16000="opacity:1; width: 100%; height: 100%; top: 0%; left: 0%;" 
							data-19000="opacity:1; width: 100%; height: 100%; top: 0%; left: 0%;"  							
							data-19300="opacity:1; width: 3%; height: 3%; top: 47%; left: 47%;">
								<div class='slide-mask' id='slide-mask-3'></div>
							</div>

							<div class='gv-slide-content' 
							data-15900="opacity:0;" 
							data-16100="opacity:1;" 
							data-17000="opacity:1" 
							data-17900="opacity:0;">
								<div class='slide-image' id='slide-3'></div>
							</div>


						</div>	

						
						<div class='gv-info-panel' 
						data-19400="margin-top:0px;" 
						data-20000="margin-top:100px;">

							<span class='gv-info-title' 
							data-15000="opacity:0;  margin-bottom:100px;" 
							data-15200="opacity:1;  margin-bottom:12px;" 
							data-19400="opacity:1;" 
							data-20000="opacity:0;">

							<svg viewBox="0 0 480 480"  preserveAspectRatio='xMinYMin'>
								<path fill="#FFFFFF" d="M152.737,414.067l56.356-0.593V292.458H1.466v-6.525L210.279,8.898h6.526v277.034h73.559v6.525h-73.559
									v121.017l56.355,0.593V420H152.737V414.067z M209.093,285.932V21.949H208.5L9.771,285.339v0.593H209.093z"/>
								<path fill="#FFFFFF" d="M291.553,70.593C291.553,33.22,321.214,0,362.146,0c40.339,0,70.593,33.22,70.593,70.593
									c0,39.152-30.254,71.187-70.593,71.187C321.214,141.78,291.553,109.746,291.553,70.593z M425.028,70.593
									c0-33.813-26.102-64.068-62.881-64.068c-37.373,0-62.881,30.254-62.881,64.068c0,35.593,25.508,64.661,62.881,64.661
									C398.926,135.254,425.028,106.186,425.028,70.593z"/>
							</svg>


						</span>

							<span class='gv-info-text'  
							data-15200="opacity:0; margin-left:100px;" 
							data-15400="opacity:1; margin-left:0" 
							data-19400="opacity:1;" 
							data-20000="opacity:0;">Most small mammals without high ground to escape to will not be able to keep up with the rate of climate change.</span>

							<span class='gv-info-text' 
							data-15800="opacity:0; margin-left:100px;" 
							data-16200="opacity:1; margin-left:0" 
							data-19400="opacity:1;" 
							data-20000="opacity:0;">Wildlife and ecosystems hit by &dlquo;severe&drquo; and &dlquo;widespread&drquo; impacts, with substantial numbers of species going extinct.</span>

						</div>	
						
						
					</div>







					<div class='gv-slide swiper-slide'>

							
						<div class="gv-slide-image-holder">	

							<div class='gv-slide-content' 
							data-19000="opacity:0;"
							data-19300="opacity:1; width: 3%; height: 3%; top: 47%; left: 47%;" 
							data-20000="opacity:1; width: 3%; height: 3%; top: 47%; left: 47%;"  
							data-21000="opacity:1; width: 100%; height: 100%; top: 0%; left: 0%;" 
							data-24000="opacity:1; width: 100%; height: 100%; top: 0%; left: 0%;"  							
							data-24300="opacity:1; width: 3%; height: 3%; top: 47%; left: 47%;">
								<div class='slide-mask' id='slide-mask-4'></div>
							</div>

							<div class='gv-slide-content' 
							data-20900="opacity:0;" 
							data-21100="opacity:1;" 
							data-22000="opacity:1" 
							data-22900="opacity:0;">
								<div class='slide-image' id='slide-4'></div>
							</div>

						</div>	

						
						<div class='gv-info-panel' 
						data-24400="margin-top:0px;" 
						data-25000="margin-top:100px;">
							
							<span class='gv-info-title' 
							data-20000="opacity:0;  margin-bottom:100px;" 
							data-20200="opacity:1;  margin-bottom:12px;" 
							data-24400="opacity:1;" 
							data-25000="opacity:0;">
								<svg viewBox="0 0 480 480"  preserveAspectRatio='xMinYMin'>
									<path fill="#FFFFFF" d="M24.215,397.155v-6.443c30.46,14.644,60.335,22.845,101.925,22.845c90.795,0,125.355-52.72,125.355-118.327
										c0-84.352-43.347-117.155-127.699-117.155c-30.46,0-60.334,7.029-77.908,12.887L61.12,8.787h190.962l-0.586,6.443H66.977
										L53.504,182.762c13.472-5.272,45.69-11.13,71.464-11.13c86.109,0,134.143,35.146,134.143,123.598
										c0,69.708-38.075,124.77-132.971,124.77C82.207,420,52.333,411.8,24.215,397.155z"/>
									<path fill="#FFFFFF" d="M291.325,69.708C291.325,32.804,320.614,0,361.032,0c39.833,0,69.708,32.804,69.708,69.708
										c0,38.661-29.875,70.293-69.708,70.293C320.614,140,291.325,108.368,291.325,69.708z M423.125,69.708
										c0-33.389-25.774-63.264-62.092-63.264c-36.904,0-62.092,29.875-62.092,63.264c0,35.146,25.188,63.849,62.092,63.849
										C397.35,133.557,423.125,104.854,423.125,69.708z"/>

								</svg>	


						</span>

							<span class='gv-info-text'  
							data-20200="opacity:0; margin-left:100px;" 
							data-20400="opacity:1; margin-left:0" 
							data-24400="opacity:1;" 
							data-25000="opacity:0;">Most small mammals without high ground to escape to will not be able to keep up with the rate of climate change.</span>

							<span class='gv-info-text' 
							data-20800="opacity:0; margin-left:100px;" 
							data-21200="opacity:1; margin-left:0" 
							data-24400="opacity:1;" 
							data-25000="opacity:0;">Wildlife and ecosystems hit by &dlquo;severe&drquo; and &dlquo;widespread&drquo; impacts, with substantial numbers of species going extinct.</span>

						





						</div>	


						
						
					</div>






					<div class='gv-slide swiper-slide'>

							
						<div class="gv-slide-image-holder">	

							<div class='gv-slide-content' 
							data-24000="opacity:0;"
							data-24300="opacity:1; width: 3%; height: 3%; top: 47%; left: 47%;" 
							data-25000="opacity:1; width: 3%; height: 3%; top: 47%; left: 47%;"  
							data-26000="opacity:1; width: 100%; height: 100%; top: 0%; left: 0%;" 
							data-29000="opacity:1; width: 100%; height: 100%; top: 0%; left: 0%;"  							
							data-29300="opacity:1; width: 3%; height: 3%; top: 47%; left: 47%;">
								<div class='slide-mask' id='slide-mask-5'></div>
							</div>

							<div class='gv-slide-content' 
							data-25900="opacity:0;" 
							data-26100="opacity:1;" 
							data-27000="opacity:1" 
							data-27900="opacity:0;">
								<div class='slide-image' id='slide-5'></div>
							</div>

						</div>	

						
						<div class='gv-info-panel' 
						data-29400="margin-top:0px;" 
						data-30000="margin-top:100px;">
							
							<span class='gv-info-title' 
							data-25000="opacity:0;  margin-bottom:100px;" 
							data-25200="opacity:1;  margin-bottom:12px;" 
							data-29400="opacity:1;" 
							data-30000="opacity:0;">1.5°</span>

							<span class='gv-info-text'  
							data-25200="opacity:0; margin-left:100px;" 
							data-25400="opacity:1; margin-left:0" 
							data-29400="opacity:1;" 
							data-30000="opacity:0;">Conclusion line of text</span>

							<span class='gv-info-text' 
							data-25800="opacity:0; margin-left:100px;" 
							data-26200="opacity:1; margin-left:0" 
							data-29400="opacity:1;" 
							data-30000="opacity:0;">Text to close piece</span>

						</div>	
						
						
					</div>







							



					<!-- <div class='gv-slide swiper-slide'>

						<div class="gv-slide-image-holder">	
							<div class='gv-slide-content'  data-15000="opacity:0;" data-15800="opacity:1; width: 3%; height: 3%; top: 47%; left: 47%;" data-16600="opacity:1; width: 100%; height: 100%; top: 0%; left: 0%;">
								<div class='slide-mask' id='slide-mask-3'></div>
							</div>
							<div class='gv-slide-content' data-17000="opacity:0; width: 100%; height: 100%; top: 0%; left: 0%;" data-17500="opacity:1; width: 100%; height: 100%; top: 0%; left: 0%;">
								<div class='slide-image' id='slide-3'></div>
							</div>
						</div>

						<div class='gv-info-panel'  data-19400="margin-top:0px;" data-20000="margin-top:100px;">
							<span class='gv-info-title' data-15000="opacity:0; margin-bottom:100px;" data-15200="opacity:1;  margin-bottom:12px;" data-19400="opacity:1;" data-20000="opacity:0;">4°</span>

							<span class='gv-info-text'  data-15200="opacity:0; margin-left:100px;" data-15400="opacity:1; margin-left:0" data-19400="opacity:1;" data-20000="opacity:0;">Most small mammals without high ground to escape to will not be able to keep up with the rate of climate change.</span>

							<span class='gv-info-text' data-15800="opacity:0; margin-left:100px;" data-16200="opacity:1; margin-left:0" data-19400="opacity:1;" data-20000="opacity:0;">Wildlife and ecosystems hit by &dlquo;severe&drquo; and &dlquo;widespread&drquo; impacts, with substantial numbers of species going extinct.</span>

						</div>	
					</div>





					<div class='gv-slide swiper-slide'>

						<div class="gv-slide-image-holder">	
							<div class='gv-slide-content' data-20000="opacity:0; width: 100%; height: 100%; top: 0%; left: 0%;" data-25500="opacity:1; width: 100%; height: 100%; top: 0%; left: 0%;">
								<div class='slide-image' id='slide-4'></div>
							</div>
						</div>

						<div class='gv-info-panel'  data-24400="margin-top:0px;" data-25000="margin-top:100px;">
							<span class='gv-info-title' data-20000="opacity:0; margin-bottom:100px;" data-20200="opacity:1;  margin-bottom:12px;" data-24400="opacity:1;" data-25000="opacity:0;">5°</span>

							<span class='gv-info-text'  data-20200="opacity:0; margin-left:100px;" data-20400="opacity:1; margin-left:0" data-24400="opacity:1;" data-25000="opacity:0;">Most small mammals without high ground to escape to will not be able to keep up with the rate of climate change.</span>

							<span class='gv-info-text' data-20800="opacity:0; margin-left:100px;" data-21200="opacity:1; margin-left:0" data-24400="opacity:1;" data-25000="opacity:0;">Wildlife and ecosystems hit by &dlquo;severe&drquo; and &dlquo;widespread&drquo; impacts, with substantial numbers of species going extinct.</span>

						</div>	
					</div> -->


						<!-- <div class='gv-slide swiper-slide'>
							<div class="gv-slide-image-holder">	
								<div class='gv-slide-content' data-4000="opacity:0; width: 100%; height: 100%; top: 0%; left: 0%;" data-5000="opacity:1; width: 100%; height: 100%; top: 0%; left: 0%;">
									<div class='slide-image' id='slide-4'></div>
								</div>
							</div>	
						</div>


						<div class='gv-slide swiper-slide'>
							<div class="gv-slide-image-holder">	
								<div class='gv-slide-content' data-5000="opacity:0; width: 100%; height: 100%; top: 0%; left: 0%;" data-6000="opacity:1; width: 100%; height: 100%; top: 0%; left: 0%;">
									<div class='slide-image' id='slide-5'></div>
								</div>
							</div>	
						</div>


						<div class='gv-slide swiper-slide'>
							<div class="gv-slide-image-holder">	
								<div class='gv-slide-content' data-7000="opacity:0; width: 100%; height: 100%; top: 0%; left: 0%;" data-8000="opacity:1; width: 100%; height: 100%; top: 0%; left: 0%;">
									<div class='slide-image' id='slide-6'></div>
								</div>
							</div>	
						</div> -->
								

				</div>



		<!-- <nav id="pips-nav" class="pips-nav skrollable unrendered " data-25581="opacity:1" data-25800="opacity:0;" style="opacity: 1;">
                <ul style="top: 182px;">
                    <li class="c1">
                        <a href="#slide-1">Dr No</a>
                    </li>
                    <li class="c2">
                        <a href="#slide-2">From Russia with Love</a>
                    </li>
                    <li class="c3">
                        <a href="#slide-3">Goldfinger</a>
                    </li>
                    <li class="c4 current">
                        <a href="#c4">Thunderball</a>
                    </li>
                    <li class="c5">
                        <a href="#c5">You Only Live Twice</a>
                    </li>
                   
                </ul>
            </nav> -->


</div>


<footer class='app-footer'>
	<div class="gv-scroll-arrow-down">
											<svg width="140px" height="160px" viewBox="0 0 140 160">
												<polygon id="arrow" fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" points="1,86.683 55.343,141 
			109.678,86.683 85.339,86.683 85.339,1 25.339,1 25.339,86.683 "/>
										
											</svg>
								</div>

</footer>



		

