<div class='android-app-spacer' id='skrollr-body'></div>

<div class='gv-wrapper swiper-container'>

			<div class='gv-slides-container swiper-wrapper'>
						
						

												

			</div>

</div>


<div class='gv-info-panel-holder'>




</div>


<div class='gv-big-type-panel'>
	


</div>	




<footer class='app-footer'>
			<div class="gv-scroll-arrow-down">
						<svg width="140px" height="160px" viewBox="0 0 140 160">
							<polygon id="arrow" fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" points="1,86.683 55.343,141 
			109.678,86.683 85.339,86.683 85.339,1 25.339,1 25.339,86.683 "/>
					
						</svg>
			</div>

</footer>

<!-- <div class='gv-preload' style="height:100%; width:100%; position: fixed; left: 0; top:0; background-color:#EFEFEF;">
	


</div>	 -->



		

