// $color1: #ffcf3a;
// $color2: #ff9c00;
// $color3: #e87100;
// $color4: #c25300;
// $color5: #cc2b12;
// $color6: #b51800;




$color1: #c5d4ea;
$color1l:#e2e9f4;
$color2: #5ebfba;
$color2l:#aedfdc;
$color3: #ffce4b;
$color4: #ff9c00;
$color5: #e87100;
$color6: #cc2b12;

// @media (min-width: 81.25em)
// .gs-container {
//     max-width: 81.25rem;
// }
// @media (min-width: 71.25em)
// .gs-container {
//     max-width: 71.25rem;
// }
// @media (min-width: 61.25em)
// .gs-container {
//     max-width: 61.25rem;
// }
// @media (min-width: 46.25em)
// .gs-container {
//     max-width: 46.25rem;
// }
// @media (min-width: 81.25em)
// .gs-container {
//     max-width: 81.25rem;
// }
// @media (min-width: 71.25em)
// .gs-container {
//     max-width: 71.25rem;
// }
// @media (min-width: 61.25em)
// .gs-container {
//     max-width: 61.25rem;
// }
// @media (min-width: 46.25em)
// .gs-container {
//     max-width: 46.25rem;
// }



@media (min-width: 860px) {


	.gv-slides-container {
		position: fixed;
		//background: rgba($color1, 0.25); //linear-gradient($color1 100%, $color6 100%)		
		z-index: -1;	
	}

	.gv-slide {
		
		position: absolute;
		width: 100%;
		height: 100%;

		top:0;
		left: 0;

		.gv-slide-content {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			border-radius: 50%;
		}

		.gv-slide-image-holder{
			position: absolute;
		    width: 80%;
		    height: 80%;
		    max-width: 950px;
		    max-height: 950px;
		    top: 30%;
		    left: calc(25% - 140px);
		}
	}

	.slide-image, .slide-mask {
		width: 100%;
		height: 100%;
		border-radius: 2000px;	
	}

	.slide-image{
		background-position: center center;
	}
	  

	#slide-1 {
		background: linear-gradient($color1l 0%, $color1 100%), url('<%= path %>/assets/polar-bear.gif');
		background-blend-mode: multiply;
		background-size: 100% auto;
		background-repeat: no-repeat;
	}

	#slide-2 {
		background: linear-gradient($color2l 0%, $color2 100%), url('<%= path %>/assets/floods.png');
		background-blend-mode: multiply;
		background-size: 100% auto;
		background-repeat: no-repeat;
		
	}

	#slide-3 {
		background: linear-gradient($color2l 0%, $color3 100%), url('<%= path %>/assets/water-stress.png');
		background-blend-mode: multiply;
		background-size: 100% auto;
		background-repeat: no-repeat;
	}

	#slide-4 {
		background-image: url('<%= path %>/assets/polar-bear.gif');
		background: linear-gradient($color3 0%, $color4 100%), url('<%= path %>/assets/crab.gif');
		background-blend-mode: multiply;
		background-size: 100% auto;
		background-repeat: no-repeat;
	}

	#slide-5 {
		background: linear-gradient($color4 0%, $color5 100%), url('<%= path %>/assets/crops.png');
		background-blend-mode: multiply;
		background-size: 100% auto;
		background-repeat: no-repeat;
		
	}

	#slide-6 {
		background: linear-gradient($color5 0%, $color6 100%), url('<%= path %>/assets/shoes.gif');
		background-blend-mode: multiply;
		background-size: 100% auto;
		background-repeat: no-repeat;
	}

	#slide-mask-1, #slide-mask-intro {
		background: $color1;
	}

	#slide-mask-2 {
		background:  $color2l ;

	}

	#slide-mask-3 {
		background: $color3;
	}

	#slide-mask-4 {
		background: $color4;
	}

	#slide-mask-5 {
		background: $color5;
	}

	#slide-mask-6 {
		background: $color6;
	}


	#swiper-1{
		background: $color1;
	}

	#swiper-2{
		background: $color2;
	}

	#swiper-3{
		background: $color3;
	}

	#swiper-4{
		background: $color4;
	}

	#swiper-5{
		background: $color5;
	}

	#swiper-6{
		background: $color6;
	}



}
@media (min-width: 46.25em){
	.gv-slides-container {
	    max-width: 46.25rem;
	}
}

@media (min-width: 61.25em){
	.gv-slides-container {
	    max-width: 61.25rem;
	}
}

@media (min-width: 71.25em){
	.gv-slides-container {
	    max-width: 71.25rem;
	}
}

@media (min-width: 81.25em){
	.gv-slides-container {
    	max-width: 81.25rem;
	}
}

.gv-slides-container {
	//background: rgba($color1,0.5)
    	
}

.gv-wrapper{
	margin: 0 auto !important;
}



/*---------------------------------
 *
 *   pips Navigation
 *
 *-------------------------------*/


.pips-nav {
    width: 60px;
    height: 100%;
    position: fixed;
    top: 0px;
    right: 0;
    z-index: 2;
}
.pips-nav ul {
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none;
}
.pips-nav li {
    height: 23px;
    margin: 0;
    padding: 0;
    z-index: 1;
    position: relative;
}
.pips-nav li:hover {
    z-index: 2;
    cursor: pointer;
}
.pips-nav li.current:hover {
    cursor: default;
}
.pips-nav a {
    width: 0px;
    height: 0px;
    border: 6px solid rgb(255,255,255);
	opacity: 0.75;
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 3;
    font: 0/0 a;
    border-radius: 50%;
    background: #fff;
    color: #eee;
    text-decoration: none;
    font: 0/0 a;
	outline: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.pips-nav .car-thumb {
    width: 0;
    height: 0;
    position: absolute;
    right: 50%;
    top: 50%;
    margin-top: -5px;
    margin-right: -2px;
    z-index: 1;
    background-color: transparent;
	background-repeat: no-repeat;
	background-position: center center;
    overflow: hidden;
    border-radius: 50%;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all 0.2s ease-out 0s;
    -moz-transition: all 0.2s ease-out 0s;
    -o-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}
.pips-nav li:hover a {
    width: 8px;
    height: 8px;
	top: -4px;
	left: 0px;
	opacity: 1;
    background: transparent;
}
.pips-nav li:hover .car-thumb {
    width: 133px;
    height: 133px;
    right: 36px;
    margin-top: -67px;
    cursor: pointer;
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	-o-transition-delay: 0.2s;
	transition-delay: 0.2s;
}



.pips-nav .c1:hover a { border-color: rgb(105,62,62); }
.pips-nav .c2:hover a { border-color: rgb(107,196,202); }
.pips-nav .c3:hover a { border-color: rgb(51,60,77); }
.pips-nav .c4:hover a { border-color: rgb(11,243,151); }
.pips-nav .c5:hover a { border-color: rgb(48,34,49); }
.pips-nav .c6:hover a { border-color: rgb(182,93,135); }
.pips-nav .c7:hover a { border-color: rgb(56,40,44); }
.pips-nav .c8:hover a { border-color: rgb(244,214,13); }
.pips-nav .c9:hover a { border-color: rgb(42,43,57); }
.pips-nav .c10:hover a { border-color: rgb(81,122,192); }
.pips-nav .c11:hover a { border-color: rgb(223,199,195); }
.pips-nav .c12:hover a { border-color: rgb(140,104,114); }
.pips-nav .c13:hover a { border-color: rgb(255,210,77); }
.pips-nav .c14:hover a { border-color: rgb(22,31,46); }
.pips-nav .c15:hover a { border-color: rgb(189,144,198); }
.pips-nav .c16:hover a { border-color: rgb(100,63,76); }
.pips-nav .c17:hover a { border-color: rgb(32,32,47); }
.pips-nav .c18:hover a { border-color: rgb(227,203,195); }
.pips-nav .c19:hover a { border-color: rgb(224,87,67); }
.pips-nav .c20:hover a { border-color: rgb(214,192,185); }
.pips-nav .c21:hover a { border-color: rgb(117,42,155); }
.pips-nav .c22:hover a { border-color: rgb(76,227,145); }
.pips-nav .c23:hover a { border-color: rgb(54,41,32); }
.pips-nav .c24:hover a { border-color: rgb(228,226,198); }
.pips-nav .c25:hover a { border-color: rgb(66,217,135); }

/* current <a> selection */
.pips-nav li.current a {
    width: 8px;
    height: 8px;
	top: -4px;
    background: transparent;
	opacity: 1;
    cursor: default;
    border-color: yellow;
}
.pips-nav li.current span {
    display: none !important;
}

.pips-nav .c1.current a { border-color: rgb(107,196,202); }
.pips-nav .c2.current a { border-color: rgb(51,60,77); }
.pips-nav .c3.current a { border-color: rgb(11,243,151); }
.pips-nav .c4.current a { border-color: rgb(48,34,49); }
.pips-nav .c5.current a { border-color: rgb(148,75,110); }
.pips-nav .c6.current a { border-color: rgb(56,40,44); }
.pips-nav .c7.current a { border-color: rgb(244,214,13); }
.pips-nav .c8.current a { border-color: rgb(42,43,57); }
.pips-nav .c9.current a { border-color: rgb(81,122,192); }
.pips-nav .c10.current a { border-color: rgb(223,199,195); }
.pips-nav .c11.current a { border-color: rgb(140,104,114); }
.pips-nav .c12.current a { border-color: rgb(255,210,77); }
.pips-nav .c13.current a { border-color: rgb(22,31,46); }
.pips-nav .c14.current a { border-color: rgb(189,144,198); }
.pips-nav .c15.current a { border-color: rgb(100,63,76); }
.pips-nav .c16.current a { border-color: rgb(32,32,47); }
.pips-nav .c17.current a { border-color: rgb(227,203,195); }
.pips-nav .c18.current a { border-color: rgb(224,87,67); }
.pips-nav .c19.current a { border-color: rgb(214,192,185); }
.pips-nav .c20.current a { border-color: rgb(117,42,155); }
.pips-nav .c21.current a { border-color: rgb(76,227,145); }
.pips-nav .c22.current a { border-color: rgb(54,41,32); }
.pips-nav .c23.current a { border-color: rgb(228,226,198); }
.pips-nav .c24.current a { border-color: rgb(53,144,201); }
.pips-nav .c25.current a { border-color: rgb(54,41,32); }





