$darkred: #800c0c;
$red: #800c0c;
$darkorange: #e6711b;
$range: #ff9b0b;
$yellow: #ffbb00;


@media (min-width: 860px) {


	.gv-wrapper {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;

	}



	.l-header {
		z-index: 2;
	}

	.android-app-spacer {
		width: 100%;
		display: block;
	}


	.gv-slides-container {
		background: #efefec;
	}


	.gv-slides-container {
		background: #efefec;
		position: relative;
		//z-index: -1;

	}

	.gv-slide {
		
		position: absolute;
		width: 100%;
		height: 100%;
		top:0;
		z-index: -10;


		.gv-slide-slice{
			position:relative;
			width:100%;
			height:100%;
			max-width:1290px;
			// background: rgba(231,231,255,0.25);
			margin: 0 auto;
		}

		.gv-slide-content {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			border-radius: 2000px;
			z-index: 10;
		}
	}

	.slide-image {
		position: absolute;
		width: 100%;
		height: 100%;
		background-position: center center;
		border-radius: 2000px;
		background-size: initial;
	}
	  

	#slide-1 {
		background-image: url('<%= path %>/assets/crops.png');
		background-repeat:  no-repeat;
	}

	#slide-2 {
		background-image: url('<%= path %>/assets/crab.png');
		background-repeat:  no-repeat;
	}

	#slide-3 {
		background-image: url('<%= path %>/assets/smoking-shoes.png');
		background-repeat:  no-repeat;
	}




}