@import "mq";


// $color1: #ffcf3a;
// $color2: #ff9c00;
// $color3: #e87100;
// $color4: #c25300;
// $color5: #cc2b12;
// $color6: #b51800;


// $color1: #F89B1C;
// $color2: #E57224;
// $color3: #C05526;
// $color4: #CD2D26;
// $color5: #B51F24;
// $color6: #801517;
// $color7: #222222;


$color1: #fb8200;
$color2: #f97500;
$color3: #f66500;
$color4: #f25600;
$color5: #f04903;
$color6: #eb3212;
$color7: #222222;


// @media (min-width: 81.25em)
// .gs-container {
//     max-width: 81.25rem;
// }
// @media (min-width: 71.25em)
// .gs-container {
//     max-width: 71.25rem;
// }
// @media (min-width: 61.25em)
// .gs-container {
//     max-width: 61.25rem;
// }
// @media (min-width: 46.25em)
// .gs-container {
//     max-width: 46.25rem;
// }
// @media (min-width: 81.25em)
// .gs-container {
//     max-width: 81.25rem;
// }
// @media (min-width: 71.25em)
// .gs-container {
//     max-width: 71.25rem;
// }
// @media (min-width: 61.25em)
// .gs-container {
//     max-width: 61.25rem;
// }
// @media (min-width: 46.25em)
// .gs-container {
//     max-width: 46.25rem;
// }



@media (min-width: 860px) {


	.gv-slides-container {
		position: fixed;	
		z-index: -1;	
	}

	.gv-slide {
		
		position: absolute;
		width: 100%;
		height: 100%;

		top: 0;
		left: 0;

		// border-radius: 2000px;

		.gv-slide-content {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			
		}

		.gv-slide-image-holder{
			position: absolute;
		    width: 100%;
		    height: 100%;
		    max-width: 750px;
			max-height: 750px;
			top:  calc(50% - 500px);
			left: calc(50% - 375px);


            @include mq($from: desktop) {
                max-width: 750px;
			    max-height: 750px;
			    top:  calc(50% - 600px);
			    left: 200px;
			    right: 0;
            }
		}
	}

	.gv-slide-image-holder-intro{
			position: absolute;
		    width: 100%;
		    height: 100%;
		    max-width: 750px;
			max-height: 750px;
			top:  calc(47.5% - 500px);
			left: 200px;
			
	}

	.slide-image, .slide-mask {
		width: 100%;
		height: 100%;
		border-radius: 2000px;	
	}

	.slide-image{
		background-position: center center;
		background-repeat: no-repeat;
		background-blend-mode: multiply;
	}
	  





	#slide-mask-1, #slide-mask-intro {
		background: rgba($color6, 1);
	}

	#slide-mask-2 {
		background: rgba($color5, 1);

	}

	#slide-mask-3 {
		background: rgba($color4, 1);
	}

	#slide-mask-4 {
		background: rgba($color3, 1);
	}

	#slide-mask-5 {
		background: rgba($color2, 1);
	}

	#slide-mask-6 {
		background: rgba($color1, 1);
	}


	#swiper-1{
		background: $color1;
	}

	#swiper-2{
		background: $color2;
	}

	#swiper-3{
		background: $color3;
	}

	#swiper-4{
		background: $color4;
	}

	#swiper-5{
		background: $color5;
	}

	#swiper-6{
		background: $color6;
	}






}
@media (min-width: 46.25em){
	.gv-slides-container {
	    max-width: 46.25rem;
	}
}

@media (min-width: 61.25em){
	.gv-slides-container {
	    max-width: 61.25rem;
	}
}

@media (min-width: 71.25em){
	.gv-slides-container {
	    max-width: 71.25rem;
	}
}

@media (min-width: 81.25em){
	.gv-slides-container {
    	max-width: 81.25rem;
	}
}

.gv-slides-container {
	//background: rgba($color1,0.5)
    	
}

.gv-wrapper{
	margin: 0 auto !important;
}



