@import "mq";
@import "fonts";
@import "swiper";

@import "mobile";
@import "desktop";



$darkred: #800c0c;
$red: #800c0c;
$darkorange: #e6711b;
$range: #ff9b0b;
$yellow: #ffbb00;

$colours: #d42426, #e57124, #f89a1c, #fdba12, #fbe600;

$start: 0;
$end: 12;
$class-slug: 'gv-slide-content';
$break: 3;
$currentColour: 0;
$colour: #fff;
$pctRange: -10%;
$degRange: 2deg;



.is-immersive-interactive{
	background:linear-gradient($color1l 0%, $color1l 20%,  $color1 30%, $color2l 70%, $color2 100%);
    // background:rgba($color1, 0.25);
    background-repeat: none;
}


.element-atom,
.interactive-atom {
    margin: 0 auto!important;
    z-index: -1;
    max-width: 1300px;
}

.gv-wrapper {
	height: 100%;
	width:100%;
	max-width:1300px;
}




@for $i from $start through $end {
	$p: $i / $end;

	$r: $i % $break;

	@if $r == 0 {
		$currentColour: $currentColour + 1;
	}

	@if $r == 0 {
		$colour: nth($colours, $currentColour);
	} @else {
		$pct: ($r +1) /$break * $pctRange;
		$deg: ($r +1) /$break * $degRange;
		$colour: adjust-color( $colour, $hue: $deg, $saturation: $deg);
	}


	.gv-slide:nth-of-type(#{$i +2}) .#{$class-slug}{
		// background: $colour;	    
	}
}

//first slide
.gv-slide:first-of-type .gv-slide-content{

    
}

//last slide
.gv-slide:last-of-type .gv-slide-content{
	background: #333;
}

.gv-info-panel {
    position: relative;
  
    margin-left: 20px;
    width: 300px;

    color:#FFF;

}

.gv-info-text{
	width:300px;
	float: left;
    clear: right;
    @include fs-headline(3);
    margin-bottom:12px;

}

.gv-info-title{

	width:140px;
    float: left;
    clear: right;

	@include f-egy;
    font-size: 180px;
    line-height: 180px;
    font-weight:200;

    border-bottom: 1px solid #FFF;
    margin-bottom: 40px;
}

.gv-info-title::before { 
    content: "above";
    width:140px;
    float: left;
    clear: right;
    border-bottom: 1px solid #FFF;
    font-size: 20px;
    line-height: 24px;
    font-weight:200;
}

.gv-opening-title::before{
    content: "below";
}










