@import "mq";
@import "fonts";

.element-atom,
.interactive-atom {
    margin: 0 !important;
    height: calc(100% - 70px);
}

.gv-wrapper {
	height: 100%;
}

.gv-slides-container {
	background: #efefec;
	position: fixed;
	z-index: -1;

}

.gv-slide {
	
	position: absolute;
	width: 100%;
	height: 100%;

	.gv-slide-content {
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 50%;
	}
}

$darkred: #800c0c;
$red: #800c0c;
$darkorange: #e6711b;
$range: #ff9b0b;
$yellow: #ffbb00;

$colours: #d42426, #e57124, #f89a1c, #fdba12, #fbe600;

$start: 0;
$end: 12;
$class-slug: 'gv-slide-content';
$break: 3;
$currentColour: 0;
$colour: #fff;
$pctRange: -10%;
$degRange: 2deg;

@for $i from $start through $end {
	$p: $i / $end;

	$r: $i % $break;

	@if $r == 0 {
		$currentColour: $currentColour + 1;
	}


	.gv-slide:nth-of-type(#{$i +1}) .#{$class-slug}{

		@if $r == 0 {
			$colour: nth($colours, $currentColour);
			background: $colour;
		} @else {

			$pct: ($r +1) /$break * $pctRange;
			$deg: ($r +1) /$break * $degRange;
			$colour: adjust-color( $colour, $hue: $deg, $saturation: $deg);
			background: $colour;
		}

		/***********
		******  #{$colour}
		***********/
	    
	}
}

.slide-image {
	position: absolute;
	width: 100%;
	height: 100%;
	background-position: center center;
	border-radius: 2000px;
	background-size: initial;
}
  

#slide-1 {
	background-image: url('<%= path %>/assets/polar-bear.gif');
}

#slide-2 {
	background-image: url('<%= path %>/assets/crab.gif');
}

#slide-3 {
	background-image: url('<%= path %>/assets/shoes.gif');
}
