@import "mq";
@import "fonts";
@import "swiper";

@import "mobile";
@import "desktop";

.element-atom,
.interactive-atom {
    margin: 0 !important;
    z-index: -1;
}

.gv-wrapper {
	height: 100%;
}

$darkred: #800c0c;
$red: #800c0c;
$darkorange: #e6711b;
$range: #ff9b0b;
$yellow: #ffbb00;

$colours: #d42426, #e57124, #f89a1c, #fdba12, #fbe600;

$start: 0;
$end: 12;
$class-slug: 'gv-slide-content';
$break: 3;
$currentColour: 0;
$colour: #fff;
$pctRange: -10%;
$degRange: 2deg;


@for $i from $start through $end {
	$p: $i / $end;

	$r: $i % $break;

	@if $r == 0 {
		$currentColour: $currentColour + 1;
	}

	@if $r == 0 {
		$colour: nth($colours, $currentColour);
	} @else {
		$pct: ($r +1) /$break * $pctRange;
		$deg: ($r +1) /$break * $degRange;
		$colour: adjust-color( $colour, $hue: $deg, $saturation: $deg);
	}


	.gv-slide:nth-of-type(#{$i +2}) .#{$class-slug}{
		background: $colour;	    
	}
}

//first slide
.gv-slide:first-of-type .gv-slide-content{
	background: #d42426;
    
}

//last slide
.gv-slide:last-of-type .gv-slide-content{
	background: #333;
}
