@media (max-width: 860px) {
	
	

	.android-app-spacer {
		width: 100%;
		display: block;
	}



	.gv-thermometer{
		display:none;
	}

	.swiper-container {
	    width: 100%;
	    height: auto;
	} 

	.app-footer, .gv-info-panel-holder, .gv-big-type-panel{
		display: none;
	} 

}